<!-- <div class="container bg-danger">
  <div class="col-3"></div>
  <div class="col-3">
    <div class="card profile-banner">
      <div class="card-body">
        <h4 class="card-title">Kullanıcı Adı</h4>
        <div class="profile-banner-image rounded-circle">
          <img src="https://via.placeholder.com/150" alt="Profil Resmi" />
        </div>
        <button class="btn btn-primary mt-2" (click)="changeProfileImage()">
          <i class="fa fa-camera"></i>
        </button>
        <div class="card-text mt-3">
          <i class="fa fa-phone mr-2 mt-3"></i>123-456-7890
          <br />
          <i class="fa fa-map-marker mr-2 mt-3"></i>İstanbul, Türkiye
          <br />
          <i class="fa fa-info-circle mr-2 mt-3"></i>Lorem ipsum dolor sit, amet
          consectetur adipisicing elit. Ut provident ducimus vero animi error
          porro suscipit, vel, modi culpa delectus tempora recusandae laboriosam
          voluptas, quia odio explicabo voluptates at doloremque.
        </div>
      </div>
    </div>
  </div>
  <div class="col-1"></div>

  <div class="col-6 prof">
    
    <h5 class="mt-3">Kullanıcı Adı</h5>
    <p>Platforma Katıldı: 01.01.2020</p>
    <a href="#">Profilini Düzenle</a>
    <hr />
    <h6>Açtığım İlanlar</h6>
    <div class="row mt-3">
      <div class="col-6">
        <img src="https://via.placeholder.com/150" alt="ilanlar" />
      </div>
      <div class="col-6">
        <img src="https://via.placeholder.com/150" alt="ilanlar" />
      </div>
    </div>

    <hr />
    <h2>Değerlendirmelerim</h2>
  </div>
</div> -->

<div class="container pt-3 bg-light" >
  <div class="row">
    <div class="col-4 ">
      <img src="assets/japon.jpg" id="profileImage">
      <h2 class="text-center pt-3">Hamza Aydın</h2>
      <p class="text-center text-muted">Türkiye,İzmir,Çeşme</p>


    </div>
    <div class="col-8 ">
      <div class="card">
        <h5 class="card-header">Hakkında</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <p class="card-text"><i class="fa-solid fa-quote-left"></i> Referans : 366</p>
              <p class="card-text"><i class="fa-solid fa-comment-dots"></i> Dil : İngilizce,Türkçe</p>
              <p class="card-text"><i class="fa-solid fa-user"></i> Yaş ve Cinsiyet : 26, Erkek</p>
              <p class="card-text"><i class="fa-sharp fa-solid fa-user-plus"></i> Kaydolma Tarihi : 14 Nisan 2000</p>
            </div>
            <div class="col-6">
              <p class="card-text"><i class="fa-solid fa-school"></i> Eğitim : SDÜ Bilgisayar Mühedensliği(Mezun)</p>
              <p class="card-text"><i class="fa-solid fa-briefcase"></i> İş : Freelance Yazılımcı</p>
              <p class="card-text"><i class="fa-solid fa-location-dot"></i> Konum : İzmir,Çeşme</p>
              <p class="card-text"><i class="fa-regular fa-id-card"></i> Profil : Tamamlanmış</p>
            </div>
          </div>          
        </div>
      </div>
      <div class="card mt-3">
        <h5 class="card-header">Referanslar</h5>
        <div class="card-body">
          <i class="fa-solid fa-quote-left"></i>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat maxime atque in sequi magnam, amet aperiam accusantium. Pariatur, molestiae obcaecati, illo voluptas voluptate ipsa asperiores officiis assumenda, mollitia quos nobis.</p>
          
        </div>
      </div>
    </div>
  </div>
</div>