<body>
  <div class="container mt-3">
    <header>
      <h1>Sıkça Sorulan Sorular</h1>
    </header>
    <main>
      <section>
        <h2>Question 1</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultrices
          sapien vel enim fermentum ultrices.
        </p>
      </section>
      <section>
        <h2>Question 2</h2>
        <p>
          Sed vel turpis id tellus vestibulum feugiat eu at metus. Mauris nec
          ligula quis massa aliquet mattis.
        </p>
      </section>
      <section>
        <h2>Question 3</h2>
        <p>
          Proin sed quam eu ipsum ullamcorper malesuada. In in arcu vel leo
          iaculis efficitur.
        </p>
      </section>
      <section>
        <h2>Question 4</h2>
        <p>
          Etiam auctor, nisl sed venenatis malesuada, metus mauris dignissim
          sapien, sed facilisis ex nibh id nulla.
        </p>
      </section>
      <section>
        <h2>Question 5</h2>
        <p>
          Suspendisse potenti. Praesent euismod magna non tortor tincidunt
          consequat.
        </p>
      </section>
    </main>
  </div>
</body>
